button { 
    color: white;
    background: #9ED033;
    border: 0;
    margin-bottom: 20px;
    width: 50%;
    height: 30px;
}

h1 {
    color: #A0D02E;
    margin-block-start: 4px;
    margin-block-end: 0px;
}
h2 { 
    color: white;
    background: #9ED033;
}

.flexContenedorInicio{
    display: flex;
    background-image: url(../recursos/imagenes/fondo.jpeg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;
    background-size: cover;
    flex-direction: column;
    padding-left: 15%;
    margin: -6;
}

.flexContenedor{
    display: flex;
    justify-content: left;
    margin-top: 30px;
}

.divLogo{
    background-color: white;
    align-content: center;
    height: 60px;
}
.divLogo h3{
    margin-right: 200px;
    margin-block-start: 0px;
    font-size: small;
    color: #a2a2a9;
    font-weight: normal;
}

.divLogo img{
    width: 100%;
    height: 50px;
}

.divHijo{
    background-color: white;
    align-content: center;
    width: 9%;
    height: 60px;
    text-align: center;
}

.divHijo a{
    text-decoration: none;
    color: #a2a2a9;
}

.divHijo a{
    padding-top: 50px;
}

.divCajaPromocion{
    display: flex;
    flex-direction: column;
    background: white;
    width: 28%;
    height: 100%;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 20px;
    align-items: center;
}
.divCajaPromocion p{
    color: #a2a2a9;
    margin: 8px;
}

.precio {
    background: #E0484F;
    width: 30%;
    margin-bottom: 10px;
}

.divPaises {
    background: #9ED033;
    color: white;
    width: 18%;
    height: 35px;
    margin-right: 25px;
    text-align: center;
    align-content: center;
}

.flexContenedorDePaises{
    display: flex;
    background: white;
    margin-left: 15%;
}

.divCiudadesEuropa{
    margin-right: 25px;
    width: 18%;
}

.divCiudadesEuropa img{
    width: 100%;
    height: 150px;
}

.p1{
    color: #9ED033;
}
.p2{
    color: #e54747;
    font-size: 12px;
}

.divCiudadesEuropa button{
    width: 100%;
}

.divLineaHorizontal{
    display: flex;
    margin-top: 50px;
    margin-bottom: 30px;
    height: 100px;
    background-color: #eeeeee;
}

.divLineaHorizontal img{
    width: 100%;
    height: 100px;
    border-right: 1px solid #b8b3b3;
    border-left: 1px solid #b8b3b3;

}

.divEspacioCintaImagen{
    width: 13%;
    height: 100%;
}

.finDePagina{
    display: flex;
    margin-top: 80px;
    margin-bottom: 50px;
}
